@model AddressBook.Models.Contact
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Contact", FormMethod.Post))
{
    <div class="form-group">
        <div>
            @Html.LabelFor(m => m.FirstName)
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.FirstName)
        </div>

        <div>
            @Html.LabelFor(m => m.LastName)
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.LastName)
        </div>

        <div>
            @Html.LabelFor(m => m.PhoneNumber)
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.PhoneNumber)
        </div>

        <div>
            @Html.LabelFor(m => m.City)
            @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.City)
        </div>

        <div>
            @Html.LabelFor(m => m.Province)
            @Html.TextBoxFor(m => m.Province, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Province)
        </div>

        <div>
            @Html.LabelFor(m => m.PostalCode)
            @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.PostalCode)
        </div>

        <div>
            @Html.LabelFor(m => m.Country)
            @Html.TextBoxFor(m => m.Country, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Country)
        </div>

        <button class="btn btn-primary btn-sm" type="submit">Submit</button>
    </div>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}