
@model AddressBook.ViewModels.ContactViewModel
@{
    ViewBag.Title = "Edit";

    if (Session["userId"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
}

<h2>Edit</h2>

<hr />

@using (Html.BeginForm("Edit", "Contact", FormMethod.Post))
{
    <div class="container">
        <div class="text-danger">
            @Html.ValidationSummary()
        </div>
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="form-group col-6 col-md-6">
                    @Html.LabelFor(m => m.FirstName)
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-6 col-md-6">
                    @Html.LabelFor(m => m.LastName)
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.PhoneNumber)
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { placeholder = "000-000-0000", @class = "text-danger" })
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.City)
                    @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.Province)
                    @Html.TextBoxFor(m => m.Province, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Province, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.PostalCode)
                    @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.PostalCode, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.Country)
                    @Html.TextBoxFor(m => m.Country, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Country, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.Id)
        <div class="form-group">
            <button class="btn btn-primary btn-sm" type="submit">Submit</button>
            @Html.ActionLink("Back", "Index", "Contact", new { @class = "btn btn-primary btn-sm" })
        </div>
    </div>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}