@model IEnumerable<AddressBook.Models.Contact>
@{
    ViewBag.Title = "Index";


    if (Session["userId"] == null)
    {
         Response.Redirect("~/Account/Login");
    }
}


<div class="container">

    <h2>Contacts</h2>
    <hr />
    <div>
        @Html.ActionLink("Add Contcats", "Create", "Contact", new { @class = "btn btn-primary btn-sm" })
    </div><br />
    
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-condensed" style="border-radius:2px">
            <thead class="panel-primary">
                <tr>
                    <th class="bgstylecustom">First Name</th>
                    <th class="bgstylecustom">Last Name</th>
                    <th class="bgstylecustom">Phone Number</th>
                    <th class="bgstylecustom"></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var contacts in Model)
                {
                    <tr>
                        <td>@contacts.FirstName</td>
                        <td>@contacts.LastName</td>
                        <td>@contacts.PhoneNumber</td>
                        <td style="width:150px">
                            <center>
                                @Html.ActionLink("View", "Show", "Contact", new { Id = contacts.Id }, null) |
                                @Html.ActionLink("Edit", "Edit", "Contact", new { Id = contacts.Id }, null) |
                                @Html.ActionLink("Delete", "Delete", "Contact", new { Id = contacts.Id },
                                                  new { onclick = "return confirm('Are you sure you want to delete?');" })
                            </center>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
