@model AddressBook.Models.Contact
@{
    ViewBag.Title = "Show";

    if (Session["userId"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
}

<h2>Show</h2>

<hr />

<div class="container">
    
    <div>
        <p> @Html.LabelFor(m => m.FirstName) : @Model.FirstName</p>
    </div>

    <div>
        <p> @Html.LabelFor(m => m.LastName) : @Model.LastName</p>
    </div>

    <div>
        <p> @Html.LabelFor(m => m.PhoneNumber) : @Model.PhoneNumber</p>
    </div>

    <div>
        <p> @Html.LabelFor(m => m.City) : @Model.City</p>
    </div>

    <div>
        <p> @Html.LabelFor(m => m.PostalCode) : @Model.PostalCode</p>
    </div>

    <div>
        <p> @Html.LabelFor(m => m.Country) : @Model.Country</p>
    </div>


    <div>
        @Html.ActionLink("Back", "Index", "Contact", new { @class = "btn btn-primary" })
    </div>
    
</div>