@model AddressBook.Models.Contact
@{
    ViewBag.Title = "Show";

    if (Session["userId"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
}

<br /><br />

<hr />

<div class="container">
    <div class="div-custom">
        <div>
            <center><h3>View</h3></center><br />
        </div>
        <table class="table table-bordered">
            @*<thead>
                <tr>
                    <td><h3>View</h3></td>
                </tr>
            </thead>*@
            <tbody>
                <tr>
                    <td>@Html.LabelFor(m => m.FirstName)</td>
                    <td>@Model.FirstName</td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(m => m.LastName)</td>
                    <td>@Model.LastName</td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(m => m.PhoneNumber)</td>
                    <td>@Model.PhoneNumber</td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(m => m.City)</td>
                    <td>@Model.City</td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(m => m.PostalCode)</td>
                    <td>@Model.PostalCode</td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(m => m.Country)</td>
                    <td>@Model.Country</td>
                </tr>


            </tbody>
        </table>
        
    </div>
    <div>
        <center>@Html.ActionLink("Back", "Index", "Contact", new { @class = "btn btn-custom" })</center>
    </div>
    
</div>